
<!-- #<Query id: nil, address: "11 Rue du Doupra, 38080 L'Isle-d'Abeau",
# activity: "bakery",
# radius_search: 2000,
# radius_catchment_area: 500,
# latitude: 45.6213509,
# longitude: 5.2326232,
# analytics: {:population=>1761, :revenus=>20412, :res25=>76, :res2565=>19, :res65=>5},
# competitors_json: "[{\"lat\":45.6227358,\"lng\":5.231298700000001,\"name\":..."
 -->
<div class="rcframe"
  data-id="query<%= @query.id %>"
  data-title ="<%= @query.address %>"
  data-lat ="<%= @query.latitude %>"
  data-lng ="<%= @query.longitude %>"
  data-radiussearch ="<%= @query.radius_search %>"
  data-radius_catchment_area ="<%= @query.radius_catchment_area %>"
  data-competitors ='<%= @query.competitors_json %>'
  <% p @competitors %>
  >
  <div class="rccontent">
    <div class="rctitle">
      <%= image_tag("five-stars.png", height: '12') %>
      <h3><%= @query.address %></h3>

      <div id="icon<%= @query.id %>">
        <i class="fa fa-eye" aria-hidden="true" data-id="<%= @query.id %>"></i>
        <i class="fa fa-eye-slash infohide" aria-hidden="true" data-id="<%= @query.id %>"></i>
      </div>
    </div>
    <div class="rcresults">
      <div class="rcpop">
        <h3>Population</h3>
        <p> <i class="fa fa-users" aria-hidden="true"></i> Population : <%= @query.analytics[:population] %> </p>
        <p> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Density : <%= @query.analytics[:population].fdiv(@query.radius_catchment_area*@query.radius_catchment_area*0.0314).round(2) %> /10m2</p>
        <p> <i class="fa fa-birthday-cake" aria-hidden="true"></i>
 Middle age : <%= (@query.analytics[:res25]*12.5 + @query.analytics[:res2565]*45 + @query.analytics[:res65]*72).fdiv(100).round(1) %> years old</p>
      </div>
      <div class="rccomp">
        <h3>Competitors</h3>
        <p> <i class="fa fa-briefcase" aria-hidden="true"></i> Competitors : <%= @competitors.count %></p>
        <p> <i class="fa fa-star" aria-hidden="true"></i> Population / competitor :
          <% if @competitors.count != 0  %>
          <%= @query.analytics[:population].fdiv(@competitors.count).round %>
          <% end %>
        </p>
      </div>
    </div>
    <div id="rclinks">
      <a href="queries/<%= @query.id%>"> More analytics</a>
    </div>
  </div>
</div>

