
<!-- #<Query id: nil, address: "11 Rue du Doupra, 38080 L'Isle-d'Abeau",
# activity: "bakery",
# radius_search: 2000,
# radius_catchment_area: 500,
# latitude: 45.6213509,
# longitude: 5.2326232,
# analytics: {:population=>1761, :revenus=>20412, :res25=>76, :res2565=>19, :res65=>5},
# competitors_json: "[{\"lat\":45.6227358,\"lng\":5.231298700000001,\"name\":..."
 -->
<div class="rcframe"
  data-id="query<%= @query.id %>"
  data-title ="<%= @query.address %>"
  data-activity ="<%= @query.activity %>"
  data-lat ="<%= @query.latitude %>"
  data-lng ="<%= @query.longitude %>"
  data-radiussearch ="<%= @query.radius_search %>"
  data-radius_catchment_area ="<%= @query.radius_catchment_area %>"
  data-competitors ='<%= @query.competitors_json %>'
  data-icon = '<%= @letter %>'
  data-icon-market ='<%= @market %>'

  <% p @competitors %>
  >
  <div class="rccontent">
    <div class="rctitle">
      <div class="myflex">
        <%= image_tag(@letter) %>
        <h3 class="mygrow marg"><%= @query.activity %></h3>
        <% @query.pertinence_grade.times do %>
          <%= image_tag('star_yellow.png', height: '12') %>
        <% end %>
      <div id="icons" class="marg">
        <div id="icon<%= @query.id %>" style="display:flex; align-items: right">
          <i class="fa fa-eye" style="color:#307A94;" aria-hidden="true" data-id="<%= @query.id %>"></i>
          <i class="fa fa-eye-slash infohide" style="color:#307A94;" aria-hidden="true" data-id="<%= @query.id %>"></i>
          <%= link_to "" , query_path(@query),class: "fa fa-trash-o",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </div>
      </div>

      </div>
      <%= @query.address %>
    </div>
    <div class="rcresults">
      <div class="rcpop">
        <h3 style="color: #307A94;">Population</h3>
        <p style="margin-left: 8px;"> <i class="fa fa-users" aria-hidden="true"></i> Population : <%= @query.analytics[:population] %> </p>
        <p style="margin-left: 8px;"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Density : <%= @query.analytics[:population].fdiv(@query.radius_catchment_area*@query.radius_catchment_area*0.0314).round(2) %> /10m2</p>
        <p style="margin-left: 8px;"> <i class="fa fa-birthday-cake" aria-hidden="true"></i>
 Middle age : <%= (@query.analytics[:res25]*12.5 + @query.analytics[:res2565]*45 + @query.analytics[:res65]*72).fdiv(100).round(1) %> years old</p>
      </div>
      <div class="rccomp">
        <h3 style="color: #307A94;">Competitors</h3>
        <p style="margin-left: 8px;"> <i class="fa fa-briefcase" aria-hidden="true"></i> Competitors :
          <% if @query.competitors_catchment != 0 && @query.competitors_catchment != nil %>
          <%= @query.competitors_catchment %>
          <% end %>
        </p>
        <p style="margin-left: 8px;"> <i class="fa fa-star" aria-hidden="true"></i> Population / competitor :
          <% if @query.competitors_catchment != 0 && @query.competitors_catchment != nil %>
            <%= @query.analytics[:population].fdiv(@query.competitors_catchment).round %>
          <% end %>
        </p>
      </div>
    </div>
    <div id="rclinks">
      <% if current_user %>
        <a href="queries/<%= @query.id%>"> More analytics</a>
      <% else %>
      <%= link_to "More analytics ? Sign in", user_session_path %>
        <!-- <a href="queries"> More analytics ? Sign in</a> -->
      <% end %>
    </div>
  </div>
</div>

