<%= render 'shared/navbar' %>
<div class="container" style="background:#FDFDFD; line-height:200%; margin-top:30px;">
  <div>
    <h1>Worst Competitors</h1>
    <p>Here are your worst competitors. Get your phone and buy a shop !</p>
  </div>

  <div>
    <table class=".table table-sm table-hover">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Rating</th>
      </thead>
    <% x = 0 %>
    <% @competitors.each do |competitor| %>
      <tbody>
        <tr>
          <% x = x + 1 %>
          <th scope="row"><%= x %></th>
          <td><%= competitor.name %></td>
          <td><%= competitor.address %></td>
          <td><%= competitor.phone_number %></td>
          <td><%= competitor.rating %></td>
        </tr>
      </tbody>
    <% end  %>
    </table>
  </div>
</div>
