<%= render 'shared/navbar' %>
<div class="tables">
  <div class="tabletitle">
    <h4>Worst Competitors</h4>
    <h5>Here are your worst competitors. Get your phone and buy a shop !</h5>
    <div class="tableback">
  <p><i class="fa fa-undo" aria-hidden="true"></i><%= link_to 'Back', :back %></p>
  </div>
  </div>

  <div class="tablecontent">
    <table class=".table table-sm table-hover">
      <thead>
        <th id="tohide"></th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Rating</th>
      </thead>
    <% x = 0 %>
      <tbody>
        <% @competitors.each do |competitor| %>
        <tr>
          <% x = x + 1 %>
          <th scope="row"><%= x %></th>
          <td><%= competitor.name %></td>
          <td><%= competitor.address %></td>
          <td><%= competitor.phone_number %></td>
          <td><%= competitor.rating %></td>
        </tr>
        <% end  %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'shared/footer' %>
