<%= render 'shared/navbar' %>
<div class="container">
  <div>
    <h1>Nearest Cities</h1>
    <p>Choose the most suitable city considering your needs</p>
  </div>

  <div>
    <table class=".table table-sm table-hover">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Distance from search</th>
        <th>population</th>
        <th>density</th>
        <th>sex (Men / Women)</th>
        <th>age - (-25 / 25-64 / +65)</th>
        <th>Unemployment rate</th>
        <th>Revenues</th>
      </thead>
    <% x = 0 %>
    <% @cities.each do |city| %>
      <tbody>
        <tr>
          <% x = x + 1 %>
          <th scope="row"><%= x %></th>
          <td><%= city.name %></td>
          <td><%= Geocoder::Calculations.distance_between([@query.latitude,@query.longitude], [city.latitude,city.longitude]).round(1) %> km</td>
          <td><%= city.population %></td>
          <td><%= (city.population / city.area).round %></td>
          <td><%= (city.sexe[:homme].to_f*100).round%> % / <%= (city.sexe[:femme].to_f*100).round%> % </td>
          <td><%= (city.age[:jeune].to_f*100).round%> % / <%= (city.age[:adulte].to_f*100).round%> % / <%= (city.age[:senior].to_f*100).round %> % </td>
          <td><%= (city.chomage * 100).round %> % </td>
          <td><%= city.revenu.round %> € </td>
        </tr>
      </tbody>
    <% end  %>
    </table>
  </div>
