<%= simple_form_for(@query, :method => :post, :url => queries_path ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address, label: 'Address', input_html: {value: "1 charlemagne, lyon"} %>
    <%= f.input :activity, label: 'What kind of business ?', placeholder: 'bakery, jewelery, etc.',  input_html: {value: "boulangerie"} %>
    <%= f.input :radius_search, label: 'Radius search in meters', placeholder: '1000',  input_html: {value: "1000"}%>
    <%= f.input :radius_catchment_area, label: 'Catchment in meters', placeholder: '200',  input_html: {value:  "500" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Go!" %>
  </div>

  <%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
<% end %>

<% end %>
