<%= render 'shared/navbar' %>
<div class="myflex">
  <div class="mygrow">

    <div id="datashow">test</div>

    <%= render 'shared/result_card' %>

  </div>
  <div id="map" style="width: 50%; height: 600px;"></div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var zoom = <%= @zoom %>;
    var map;
    var search_icon = 'http://maps.google.com/mapfiles/ms/icons/blue-pushpin.png';
    var concurrence_icon = 'http://maps.gstatic.com/mapfiles/ms2/micons/red.png';
    var search = {lat: <%= session["search_coordinates"][0] %>, lng: <%= session["search_coordinates"][1] %>};

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: zoom,
        center: search
      });
      // marker search
        var marker = new google.maps.Marker({
        position: search,
        icon: search_icon,
        animation: google.maps.Animation.DROP,
        map: map
      });
    }


    function addconcurrents() {
    var points = [];
      <% @markers.each do |marker| %>
      points.push(new google.maps.LatLng(<%= marker[:lat] %>, <%= marker[:lng] %>));
        var marker = new google.maps.Marker({
          position: {lat: <%= marker[:lat] %>, lng: <%= marker[:lng] %>},
          map: map,
          icon: concurrence_icon,
        });

      <% end %>
    }


    function addpopulation() {
      <% @polygones.each do |zone| %>
        var poly = new google.maps.Polygon(<%= raw zone %>);
        poly.setMap(map);
      <% end %>
    }

    initMap();
    addpopulation();
<!--     addconcurrents();
 -->
    google.maps.event.addDomListener(map, 'center_changed', function() {

    });
    google.maps.event.addDomListener(map, 'zoom_changed', function() {
      var zoom = map.getZoom();
    });

  <% end %>
<% end %>
