<%= render 'shared/navbar' %>
<div style="display: none;">
  <%= link_to "add pop", "/queries/10/43/2", method: :get, remote: true, id: "ajax"%>
</div>
<div class="myflex">
  <div class="mygrow">

    <%= render 'shared/result_card' %>


  </div>
    <div style="width: 60%; height: 600px; position: relative;">
      <div style = "background-color: white; position: absolute; right: 10px; top: 50px; z-index:20">
        <div id="infos-button"  onclick="openinf()">
          <i id="infos-open" class="fa fa-info-circle fa-fw fa-lg"></i>
        </div>
        <div id="show-content" class="infohide">
          <p style="text-align:right; margin:0" ><i id="infos-close" onclick="closeinf()" class="fa fa-close"></i></p>
          <h3>Informations : </h3>
          <div id="infos-current">
            <p><b>Population : </b> <span id="pop">--</span> habitants</p>
            <p><b>Revenus : </b> <span id="rev">--</span> €</p>
            <p><b>65 ans et plus :</b> <span id="res65">--</span> %</p>
            <p><b>25 ans et moins :</b> <span id="res25">--</span> %</p>
          </div>
        </div>
      </div>
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>


    var map;
    var polya =[];
    var markers =[];
    var search_icon = 'http://maps.google.com/mapfiles/ms/icons/blue-pushpin.png';
    var concurrence_icon = 'http://maps.gstatic.com/mapfiles/ms2/micons/red.png';
    var search = {lat: <%= session["search_coordinates"][0] %>, lng: <%= session["search_coordinates"][1] %>};
    function openinf() {
      document.getElementById('show-content').classList.remove("infohide");
    }
    function closeinf() {
      document.getElementById('show-content').classList.add("infohide");

    }

    var addListenersOnPolygon = function(polygon) {
      google.maps.event.addListener(polygon, 'mouseover', function (event) {
      document.getElementById('pop').innerHTML = polygon.population;
      document.getElementById('rev').innerHTML = polygon.revenus;
      document.getElementById('res65').innerHTML = polygon.res65;
      document.getElementById('res25').innerHTML = polygon.res25;
          console.log('test');

      });
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: <%= @zoom %>,
        center: search,
        mapTypeId: 'satellite',
        streetViewControl: false,
      });
      // marker search
        var marker = new google.maps.Marker({
        position: search,
        icon: search_icon,
        animation: google.maps.Animation.DROP,
        map: map
      });
      var searchcircle = new google.maps.Circle({
        strokeColor: '#0f5',
        strokeOpacity: 0.8,
        strokeWeight: 4,
        fillColor: '#FF0000',
        fillOpacity: 0,
        map: map,
        center: search,
        radius: <%= session['radius_catchment'] %>
      });


    }

    function delpoly() {
      for (var i = 0; i < polya.length; i++) {
       if(polya[i].id != 123) //Or whatever that you require
         {
           //change its color
           polya[i].setMap(null);
         }
      }
      poly.setMap(null);
    }

    function addconcurrents() {
    var points = [];
      <% @markers.each do |marker| %>
      points.push(new google.maps.LatLng(<%= marker[:lat] %>, <%= marker[:lng] %>));
        var marker = new google.maps.Marker({
          position: {lat: <%= marker[:lat] %>, lng: <%= marker[:lng] %>},
          map: map,
          icon: concurrence_icon,
        });

      <% end %>
    }

    function updatepop() {
      var NewMapCenter = map.getCenter();
      a = document.getElementById('ajax');
      url = "/queries/" + map.getZoom() +"/" + NewMapCenter.lat() + "/" + NewMapCenter.lng();
      a.href = url;
      console.log("zoom :" + map.getZoom());
      a.click();
    }

    function addpopulation() {
      <% @polygones.each do |zone| %>
        poly = new google.maps.Polygon(<%= raw zone %>);
        poly.setMap(map);
        addListenersOnPolygon(poly);
        polya.push(poly);
      <% end %>
    }

    initMap();
<!--     addconcurrents();
    addpopulation();
 -->

    google.maps.event.addDomListener(map, 'center_changed', function() {
        updatepop();
    });
    google.maps.event.addDomListener(map, 'zoom_changed', function() {
      if (map.getZoom() < 15 && map.getZoom() > 5) {
        updatepop();
      }
    });


  <% end %>
<% end %>
