    <%= render 'shared/navbar' %>


<div class="indexcontent">
  <div class="indexcards">
      <% @queries.each do |query|
        @query = query
        @competitors = JSON.parse(@query.competitors_json)%>
        <%= render 'shared/result_card' %>
      <% end %>
    
  </div>
  <div class="indexmap">
    <div id="mapcaption" style="height: 100px; position: relative;">
      <div id="caption">
        <p>Good deal </p><div class="captionbardeal"></div>
        <p>Population  </p><div class="captionbarpop"></div>
        <p>Competitors </p><div class="captionbarcomp"></div>
        </p>
      </div>
      <div id="formnewrequest">
        <button class="btn btn-primary" id="btn-newaddress">Compare with new address</button>

      </div>
    </div>
    <div style="position: relative;">
      <div style = "background-color: white; position: absolute; right: 10px; top: 50px; z-index:20">
        <div id="setting-button"  onclick="openset()">
          <i id="setting-open" class="fa fa-cogs fa-fw fa-lg"></i>
        </div>
        <div id="show-setting" class="infohide">
          <p style="text-align:right; margin:0" ><i id="setting-close" onclick="closeset()" class="fa fa-close"></i></p>

          <h3>Settings:</h3>
          <div id="setting-current">
          <div id="slidecontainer">
            <input type="range" min="0" max="100" oninput="heatmap.set('opacity', (this.value/100));" value="50">
            <input type="range" min="0" max="100" id="sliderp" value="35">
          </div>
        </div>

        </div>
          <div id="infos-button"  onclick="openinf()">
            <i id="infos-open" class="fa fa-info-circle fa-fw fa-lg"></i>
          </div>
          <div id="show-content" class="infohide">
            <p style="text-align:right; margin:0" ><i id="infos-close" onclick="closeinf()" class="fa fa-close"></i></p>
            <h3>Informations : </h3>
            <div id="infos-current">
              <p><b>Population : </b> <span id="pop">--</span> habitants</p>
              <p><b>Revenus : </b> <span id="rev">--</span> €</p>
              <p><b>65 ans et plus :</b> <span id="res65">--</span> %</p>
              <p><b>25 ans et moins :</b> <span id="res25">--</span> %</p>
            </div>
          </div>
        </div>

      <div id="map"
        style="width: 100%; height: calc(100vh - 230px);"
        data-lat="<%= @query["latitude"] %>"
        data-long="<%= @query["longitude"] %>"
        data-zoom="14"
        data-radius="<%= @query['radius_catchment_area'] %>"
        data-radiussearch="<%= @query['radius_search'] %>"
      ></div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    let heatmap = null;


  <% end %>
<% end %>
