<div id="homepage-top">
  <h1>The best place for your business</h1>
  <%= image_tag('logoblack.png', style: 'height:95px;width:auto;', id:'logoblack') %>
</div>

<div id="homepage-middle">
  <div id="homepage-expl">
    <h3>ShopSpot helps you to find the best place to start your activity. </br></br> Get maps and analytics about people and competition around you.</h3>
    <% if current_user %>
      <%= link_to "Last searches", queries_path, { :class=>"btn btn-primary", :id=>"btn-sign-up" }  %>
    <% else %>
      <%= link_to "Sign up for free", new_user_registration_path, { :class=>"btn btn-primary", :id=>"btn-sign-up" }  %>
      <%= link_to "Already an account ? Log in", new_user_session_path, { :id=>"homesignin" } %>
    <% end %>
  </div>
  <div id="homepage-form">
    <div id="home-form">
      <div id="container-form">
        <div id="getstarted">
          <h3>Get started</h3>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div id="homepage-bottom">
  <h1>How it works</h1>
  <div id="exp-cards">
    <div class="exp" id="exp1">
      <div class="exp-photo">
        <%= image_tag("exp-shop.png", style: 'width:100%;height:auto;' )%>
      </div>
      <div class="card-description">
        <h4><b>Your project</b></h4>
        <p>Indicate your activity and the zone where you want to start your business</p>
      </div>
    </div>
    <div class="exp" id="exp2">
      <div class="exp-photo">
        <%= image_tag("exp-map.png", style: 'height:100%;width:auto;') %>
      </div>
      <div class="card-description">
        <h4><b>Map</b></h4>
        <p>See where are your competitors and the best zones for you</p>
      </div>
    </div>
    <div class="exp" id="exp3">
      <div class="exp-photo">
        <%= image_tag("analytics.png", style: 'height:100%;width:auto;') %>
      </div>
      <div class="card-description">
        <h4><b>Analytics</b></h4>
        <p>Get all analytics about population, competitors and compare different zones</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footerhome' %>