<%= render 'shared/navbar' %>
  <div id="showtop">
    <div id=showsearch>
      <%= render 'shared/show_search' %>
    </div>
    <div id="showcard">
      <%= render 'shared/show_card' %>
    </div>
    <div id="showmapframe">
      <div id="showmapcontent">
        <%= static_map_for(@query) %>
      </div>
    </div>
  </div>


        <div class="buttons-next-action"
          <p>Take action and realize your dream? Contact right here</p>
          <%= link_to 'View competition', query_competitors_path(@query), class: 'btn btn-primary', id:'btn-show' %>
        </div>
        <div class="buttons-next-action"
          <p>Not enough potential customers? Surronding cities comparator right here</p>
          <a class='btn btn-primary' id='btn-show' href='#'>Cities analytics</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          
      <div style="text-align: center"><%= link_to 'Download Pdf', query_path(@query, format: :pdf), class: 'btn btn-primary', id:'btn-show' %> </div>
      </div>

  </div>
</div>

<%= link_to 'Back', queries_path %>
