<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @query.address %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @query.activity %>
</p>

<p>
  <strong>Radius search:</strong>
  <%= @query.radius_search %>
</p>

<p>
  <strong>Radius catchment area:</strong>
  <%= @query.radius_catchment_area %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @query.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @query.longitude %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
