<%= render 'shared/navbar' %>
<div id="showcontent">
  <div id="showleft">
    <div id=showsearch>
      <%= render 'shared/show_search' %>
    </div>

    <div id="showmapframe">
        <%= static_map_for(@query, class: '') %>
    </div>
  </div>
  <div id="showcard">
    <%= render 'shared/show_card' %>
  </div>
  <div id="showright">
    <div id="linksframe">
      <div id="linkscontent">
        <div id="linkstitle">
          <h3>Want more ?</h3>
        </div>
        <%= link_to 'Cities analytics', query_cities_path(@query), class: 'btn btn-primary', id:'btn-show' %>
        <%= link_to 'View competition', query_competitors_path(@query), class: 'btn btn-primary', id:'btn-show' %>
      </div> 
    </div>
    <div id="showstreetframe">
        <%= street_view(@query, class: '') %>
    </div>
  </div>
</div>



